.wrapper {
  display: none;
}

@media (max-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
}